/kankans
/kankans.exe
/kankanc
/kankanc.exe

!/kankans/
!/kankanc/

/output/
/bin/
/dist/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

vendor/

go.work

.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

*.log

.env
*.env.local
