# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
kankans
kankanc

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Log files
*.log

# Environment variables
.env
*.env.local
